@import url('https://fonts.googleapis.com/css2? family=Open+Sans:ital,wght@1,300&display=swap');

.row .col{
    background-color: rgb(255, 143, 208);
    width: 30rem;
    align-items: center;
    margin: 2.8rem;
    display: flex;
    border-radius: 5rem 0 5rem 0;
    border-style: solid;
    border-color: rgb(31, 14, 28);
    box-shadow: 5px 5px rgb(33, 24, 44);
    color: rgb(12, 12, 12);
    font-weight: bold;
    text-shadow: 1px 1px rgb(83, 80, 80);

}
body{
    background-image: url(/imagenes/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.tab-pane .h4{
    font-size: 4rem;
    color: rgb(116, 11, 116);
    text-shadow: 5px 5px 5px  rgb(68, 51, 51);
    
}
.row .precio{
    color: rgb(6, 171, 177);
    margin: 1rem;
    text-align: center;
    text-shadow: 1px 1.5px rgb(37, 37, 37);
}
.row .button{
    background-color: aquamarine;
    border-radius: 1rem;
    border-style:inset;
    border-width: 2px;
    border-color:black;
    font-weight: bold;
    margin: 20px auto;
    display: flex;
}
.row .col img{
    width: 26rem;
    height: 20rem;
    align-items: center;
    display: flex;
    margin: 1.3rem 1rem 5px 1rem;

    border-radius: 5rem 0 5rem 0;
  box-shadow: 5px 5px rgb(33, 24, 44);
  border-style: solid;
  border-color: rgb(31, 14, 28);
}

.card-title{
    text-align: center;
   margin-top:0;
}
footer {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-color: yellowgreen;
    color: white;
}
#cart_menu_num {
    position: absolute;
    top: 14px;
    left: 36.2%;
    background: red;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 2px;
  }